[submodule "data/emojilib"]
	path = data/emojilib
	url = https://github.com/muan/emojilib.git
[submodule "data/gemoji"]
	path = data/gemoji
	url = https://github.com/github/gemoji
[submodule "data/Emojipedia"]
	path = data/Emojipedia
	url = https://github.com/gingerbeardman/Emojipedia
